:root{
    --body-background:#f4f4f9;
    --btn-primary:#cabbff;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}
.container{
    background-color: aliceblue;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.heading{
    text-align: center;
}
#textinput{
    width: 75%;
    padding: 13px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
#taskbutton{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--btn-primary);
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

li{
     padding: 10px;
     border-bottom: 1px solid #ddd;
    
}
li:hover{
    background-color: antiquewhite;
}
li:last-child{
    border-bottom: none;
}
.filter-btn{
    background-color:rgba(213, 213, 43, 0.753);
    transition: 0.3;
}
.filter-btn,.editbtn,.deletebtn,.completedbtn{
    padding: 10px 20px;
    border: none;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    
}
.completedbtn:hover,.deletebtn:hover,.editbtn:hover{
    background-color: var(--btn-primary);
}

.filter-btn:hover{
    background-color: var(--btn-primary);

}
.editbtn{
  background-color:rgba(213, 213, 43, 0.753);
  transition: 0.3;
}
.deletebtn{
    background-color: rgba(199, 46, 46, 0.715);
    transition: 0.3;
}
.completedbtn{
    background-color: rgba(36, 182, 36, 0.689);
    transition: 0.3;

}

.taskItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.completed{
    text-decoration: line-through;
}
